<div class="row">
  <div class="col-sm-6">
    <h1>Tasks</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
  </div>
</div>


<table class="table table-responsive table-hover w-100 d-block d-md-table">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="col-sm-1">#</th>
      <th scope="col" class="col-sm-6">Title</th>
      <th scope="col" class="col-sm-3">Completed at</th>
      <th scope="col" class="col-sm-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <th scope="row"><%= task.id %></th>
        <td><%= task.title %></td>
        <td><%= task.completed_at %></td>
        <td class="text-right"><%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task), class: 'm-1' %>
          <%= link_to 'Destroy', task, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
